.base {
	font-family: var(--font-family-text);
	font-size: var(--font-size-body);
	line-height: var(--line-height-body);
	font-weight: var(--font-weight-button);
	text-transform: uppercase;
	width: fit-content;
	padding: var(--button-padding);
	background: none;
	color: var(--color-primary);
}

.variant-text,
.variant-text-inverse {
	border: none;
	background: none;
	color: var(--color-text-base);
}

.variant-text-inverse {
	color: var(--color-text-inverse);
}

.variant-outlined,
.variant-outlined-inverse {
	border: solid 1px var(--color-primary);
	color: var(--color-text-base);
	border-radius: var(--button-border-radius);
}

.variant-outlined-inverse {
	color: var(--color-text-base-inverse);
	background: var(--color-primary);
}

.variant-contained,
.variant-contained-inverse {
	color: green;
}

.variant-contained-inverse {
	color: var(--color-text-base);
	background: var(--color-backgrond-light);
	border-radius: var(--button-border-radius);
	border: none;
}
