.services-section {
  padding: 0 var(--grid-margin);
  margin-top: var(--layout-margin);
  & h1,
  h2 {
    margin-top: var(--layout-margin);
  }
}

.services-callout {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-callout);
}

.callout-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--grid-gap);
  & strong {
    grid-column-start: 1;
    grid-column-end: 13;
    @media (min-width: 504px) {
      grid-column-end: 11;
    }
    @media (min-width: 800px) {
      grid-column-end: 10;
    }
    @media (min-width: 1200px) {
      grid-column-end: 9;
    }
    @media (min-width: 1400px) {
      grid-column-end: 7;
    }
  }
}
