.hero {
	padding: 0 var(--grid-margin);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: var(--grid-gutter);
}

.hero-copy {
	grid-column-start: 1;
	grid-column-end: 13;
	margin-top: var(--layout-margin);
	color: var(--color-text-base);
	text-transform: uppercase;
	@media (min-width: 768px) {
		grid-column-end: 12;
	}
	@media (min-width: 1024px) {
		grid-column-end: 11;
	}
}
