.desktop-nav {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.mobile-nav {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-nav-menu {
  position: absolute;
  background: var(--color-backgrond-light);
  padding: var(--spacing-nav) var(--grid-margin);
  top: 0;
  right: 0;
  height: 100vh;
  width: 260px;
  display: flex;
  flex-direction: column;
  & button {
    align-self: flex-end;
  }
  & ul {
    margin-top: 50px;
    margin-left: var(--nn-size-spacing-100);
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
    font-weight: var(--font-weight-anchor);
    text-decoration: none;
    & li a {
      text-decoration: none;
    }
    & li:not(:first-child) {
      margin-top: 30px;
    }
  }
}
