.navbar-mobile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: var(--spacing-nav) var(--grid-margin);
	background: var(--color-background-dark);
	color: var(--color-text-base-inverse);
}

.logo {
	font-size: var(--font-size-large);
	line-height: var(--line-height-large);
}

.menu-btn {
	border: none;
	background: none;
	color: var(--color-text-base-inverse);
	font-size: var(--font-size-body);
}
