.navbar-mobile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: var(--spacing-nav) var(--grid-margin);
	background: var(--color-background-dark);
	color: var(--color-text-base-inverse);
}

.logo {
	font-size: var(--font-size-large);
	line-height: var(--line-height-large);
}

.menu-btn {
	border: none;
	background: none;
	padding: 0;
	height: 20px;
	color: var(--color-text-base-inverse);
	font-size: var(--font-size-body);
	font-family: var(--font-family-text);
}

.nav-menu-links {
	position: absolute;
	background: var(--color-backgrond-light);
	padding: 0 var(--grid-margin);
	top: 0;
	right: 0;
	height: 100vh;
	width: 260px;
	& ul {
		margin-top: 50px;
		margin-left: var(--nn-size-spacing-100);
		display: flex;
		flex-direction: column;
		list-style: none;
		padding: 0;
		font-size: var(--font-size-large);
		line-height: var(--line-height-large);
		font-weight: var(--font-weight-anchor);
		text-decoration: none;
		& li a {
			text-decoration: none;
		}
		& li:not(:first-child) {
			margin-top: 30px;
		}
	}
}

.close {
	color: var(--color-text-base);
	font-size: var(--font-size-body);
	font-family: var(--font-family-text);
	height: 20px;
	padding: 0;
}

.mobile-menu-close-button-container {
	margin-top: var(--spacing-nav);
	display: flex;
	justify-content: flex-end;
}
