.header {
	display: flex;
	flex-direction: row;
	padding: var(--spacing-nav) var(--grid-margin);
	background: var(--color-background-dark);
	color: var(--color-text-base-inverse);
	position: relative;
	justify-content: space-between;
	align-items: center;
	& h1 {
		font-size: var(--font-size-large);
		line-height: var(--line-height-large);
	}
	& button {
		padding-right: 0;
	}
}
